---
import BlogPostPreview from "../page-helpers/BlogPostPreview.astro";
import type { BlogPostDto, PageDto } from "@portfolio-builder/shared-types";

interface Props {
  posts: BlogPostDto[];
  activePage: PageDto;
}

const { posts, activePage } = Astro.props;
---

<Fragment>
  <section class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
    {posts.map(post => <BlogPostPreview activePage={activePage} post={post} />)}
  </section>
</Fragment>