---
import type { BlogPostDto } from '@portfolio-builder/shared-types';
import { formatDate } from '../../utils';

interface Props {
  post: BlogPostDto;
}

const { post } = Astro.props;
---

<article class="p-6 border rounded-lg shadow bg-gray-800 border-gray-700">
  <h5 class="mb-4 text-2xl font-bold tracking-tight text-white">{post.title}</h5>
  <p class="mb-3 font-normal">by: {post.author.firstName} {post.author.lastName}</p>
  <p class="mb-3 font-normal text-purple-200">{formatDate(post.publishedAt!)}</p>
  <section set:html={post.content}></section>
</article>
